@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

header .nav-color {
  background-color: #97ce4c;
  font-size: 2rem;
  color: rgba(49, 31, 25, 0.8196078431);
}
header .navbar-brand {
  
  font-family: "Creepster", cursive;
  font-size: 3rem;
  color: rgba(49, 31, 25, 0.8196078431);
  text-shadow: 1px 1px #f5bdbd;
}
header .navbar-brand span {
  font-size: 1.2rem;
  color: rgba(165, 42, 42, 0.7882352941);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
  text-shadow: none;
}

@media (max-width: 768px) {
  .navbar-brand {
    display: flex;
    flex-direction: column;
  }

  .navbar-toggler {
    position: absolute;
    left: 80%;
  }
}