@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
$grey-light: rgb(198, 196, 196);
$greenie: #97ce4c;
$coffeesh: #311f19d1;
$coffee-shadow: 1px 1px #f5bdbd;;
$title-font: 'Creepster', cursive;
$general-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

// @import '~bootstrap/scss/bootstrap';
@import '../styles/_header.css';

body {
  background-color: $grey-light;
  margin: 100px;
  font-family: $general-font;
}

header {
  .nav-color {
    background-color: $greenie;
    font-size: 2rem;
    color: $coffeesh;
  }
  .navbar-brand {
    font-family: $title-font;
    font-size: 3rem;
    color: $coffeesh;
    text-shadow: $coffee-shadow;

    span{
      font-size: 1.2rem;
      color: #a52a2aa9;
      font-family: $general-font;
      font-style: oblique;
      text-shadow: none;
    }
  }
}
